.luxian {
  margin: 0 auto;
  width: 300px;
  height: 600px;
  font-size: 0;
}

.box {
  display: block;
  width: 300px;
  height: 300px;
}

.cactus {
  background: repeating-linear-gradient(90deg, #000, #000 10px, #070 0, #070 145px);
}

.sand {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffc;
}

.lever-base {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 90px;
  background: #000;
}

.lever {
  width: 40px;
  height: 160px;
  background: #770;
}

.up {
  margin: -95px 0 0 0;
}

.down {
  display: none;
  margin: 25px 0 0 0;
}
